
<div>
  <a id="logo" href="index.html"><p>Prasun</p><p> Sinha</p></a>

  <div id="nav">
    <div><a class="link-button"  href="researchGroup.html">Research Group</a></div>
    <div><a class="link-button"  href="whatsNew.html">What is New?</a></div>
    <div><a class="link-button"  href="aboutMe.html">About me</a></div>
    <div><a class="link-button"  href="research.html">Research</a></div>
    <div><a class="link-button"  href="coursesPage.html"> courses </a></div>
    <div><a class="link-button"  href="linksPage.html"> Links </a></div>
  </div>
</div>
