<div id="header">
  <a id="logo" href="homepage.html">Prasun Sinha</a>
  <div id="nav">
    <a class="normal" href="whatsNew.html">What's New?</a>
    <a class="normal" href="aboutMe.html">About Me</a>
    <a class="normal" href="research.html">Research</a>
    <a class="normal" href="researchGroup.html">Research Group</a>
    <a class="normal" href="coursesPage.html">courses</a>
    <a class="normal" href="linksPage.html">Links</a>
  </div>
</div>
