
<div>
  <a id="logo" href="index.html">Prasun<br/>Sinha</a>

  <div id="nav">
    <a class="research-group link-button"  href="researchGroup.html">Research Group</a> <br/>
    <a class="whats-new link-button"  href="whatsNew.html">What is New?</a> <br/>
    <a class="about-me link-button"  href="aboutMe.html">About me</a> <br/>
    <a class="research link-button"  href="research.html">Research</a> <br/>
    <a class="courses link-button"  href="coursesPage.html"> Courses </a> <br/>
    <a class="links link-button"  href="linksPage.html"> Links </a> <br/>
  </div>
</div>
