<div>
  <a id="logo" href="homepage.html"><p>Prasun</p><p> Sinha</p></a>
  
  <div id="nav">
    <p><a class="header" href="whatsNew.html">What's New?</a></p>
    <p><a class="header" href="aboutMe.html">About Me</a></p>
    <p><a class="header" href="research.html">Research</a></p>
    <p><a href="researchGroup.html">Research Group</a></p>
    <p><a href="coursesPage.html">courses</a></p>
    <p><a href="linksPage.html">Links</a></p>
  </div>
</div>
