<style>

    /* unvisited link */
    a:link {
        color: #6F6F6F;
    }

    /* visited link */
    a:visited {
        color: #EBEBEB;
    }

    /* mouse over link */
    a:hover {

    }

    /* selected link */
    a:active {
        color: #EBEBEB;
    }
    .link-button
    {
        font-size: 1.5em;
        height: 50px;
        background: #CCCCCC;
    }

    .link-button:hover
    {
        height: 50px;
        background: #8F8F8F;
    }
</style>

<div>
  <a id="logo" href="homepage.html"><p>Prasun</p><p> Sinha</p></a>

  <div id="nav">
    <p><a class="header" href="whatsNew.html"><div class="link-button"   >What is New?</div></a></p>
    <p><a class="header" href="aboutMe.html"><div class="link-button" >About me</div></a></p>
    <p><a class="header" href="research.html"><div class="link-button" >Research</div></a></p>
    <p><a href="researchGroup.html"><div class="link-button" >Research Group</div> </a></p>
    <p><a href="coursesPage.html"><div class="link-button" >courses</div></a></p>
    <p><a href="linksPage.html"><div class="link-button" >Links</div></a></p>
  </div>
</div>
