<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Links</title>
  <link rel="stylesheet" href="/stylesheets/all.css">
</head>

<body>
  <div id="page">
    <%= partial "navigation" %>
    <div id="content">
      <h1>About Me</h1>
    </div>
  </div>

  <div id = "content">
      <p>
      I graduated from University of Illinois at Urbana-Champaign with my PhD in Computer Science in 2001. I got my MS degree in Computer Science from Michigan State University (1997) and my BTech degree in Computer Science and Engineering from IIT Delhi, India (1995). Before joining OSU in 2003, I was a researcher at Bell Labs, New Jersey from 2001 to 2003. During my graduate studies I did internships at Almaden Research Center, IBM, San Jose, and HRL Labs, Malibu. 
      </p>
      <p>
       I am an IEEE senior member since April 2010. I received the Lumley Research Award from the College of Engineering at OSU in 2009, and the NSF CAREER award in 2006. During graduate studies I received the Mavis Memorial Scholarship (2000), Ray Ozzie Fellowship (1999), and the Distinguished Academic Achievement Award (1997). I am currently serving on the editorial board of Transactions on Mobile Computing (TMC) and on the steering committee of IWQoS. In the past I have served on the editorial board of Transaction on Wireless Communications (TWC), and as TPC co-chair/chair for ICDCN 2013, IWQoS 2011, BROADNETS 2010, and QShine 2009. 
      </p>
      
  </div>
</body>


</html>
