<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Prasun Sinha Associate Professor</title>
  <link rel="stylesheet" href="/stylesheets/all.css">
   

</head>

<body>


  <div class="columnsContainer">

      <div class="leftColumn">
         <%=  partial "navigation" %>
      </div>

      <div class="rightColumn">
       

    <table class="home-table" border="0" align="center" width="1000px"  >

      
      <tr>
        <td valign="top" ><img class="photo" src="images/prasun-cropped.jpg" alt="Picture of Prasun Sinha"   height="200px"  > </td>
        <td  valign="top">
          <div class="info" >

          <table border="0" >
            <tr>


              <td >
                <p>791 Dreese Labs<br>
                  2015 Neil Avenue
                  Deptartment of Computer Science and Engineering<br>
                  Ohio State University
                  Columbus, OH 43210-1277  </p>
              </td>

            </tr>
            <tr>
              <td>
                email: <a href="prasun@cse.ohio-state.edu">prasun@cse.ohio-state.edu</a>
              </td>
            </tr>
            <tr>
              <td>               <a href="http://web.cse.ohio-state.edu/~prasun/prasun.pdf">Resume</a>
              </td>
            </tr>
            <tr>
              <td>                <a href="http://web.cse.ohio-state.edu/~prasun/publications.html">Publications</a>
              </td>
            </tr>
            <tr>
              <td>                <a href="http://www.cse.ohio-state.edu/~prasun/cse5469">Seminar Course: 5469</a>
              </td>
            </tr>
            <tr>
              <td>               2014 Networking orientation slides <a href="http://web.cse.ohio-state.edu/~prasun/2014_networking_orientation.ppt">pdf</a>
                                                                    <a href="http://web.cse.ohio-state.edu/~prasun/2014_networking_orientation_nobackground.pdf">pdf</a>
              </td>
            </tr>


          </table>


          </div>
        </td>

        <td>



      </tr>
      <table>
      </div>

  </div>



</body>


</html>
