<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title of the document</title>
  <link rel="stylesheet" href="/stylesheets/all.css">
</head>

<body>
<div id="page">
  <%= partial "navigation" %>
  <div id="content">
    <h1>Associate Professor</h1>
  </div>
</div>
</body>


</html>
