<h1>Links</h1>
<br/>
<ul>
	<li>
	<a href="http://www.cs.ucsb.edu/~almeroth/conf/stats/"> Acceptance Rates for Various Networking Related Conferences</a>
	</li>
	<li>
	A Few Organizations for the grassroots in India:
	<ul>
		<li>
		<a href="http://www.sankalpaindia.org/"> Sankalpa: </a>
		This is an organization led by a group of very dedicated students in OSU for supporting various activities at the grassroots level in India. Check out their webpage and see how you can make a difference. I am currently the faculty advisor for this organization. Click
		<a href="iaa10.pptx"> here </a>
		<a>
		</li>
		<li>
		<a> </a>
		<a href="http://www.akshayatrust.org/"> Akshaya Trust:</a>
		An
		<a href="http://www.cnn.com/2010/LIVING/04/01/cnnheroes.krishnan.hunger/index.html?hpt=C2"> Article </a>
		in CNN
		<br>
		</li>
	</ul>
	</li>
</ul>
