<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Links</title>
  <link rel="stylesheet" href="/stylesheets/all.css">
</head>

<body>
  <div class="columnsContainer">

      <div class="leftColumn">
         <%=  partial "navigation" %>
      </div>

      <div class="rightColumn">
      
      </div>

  </div>
</body>


</html>
