<style>
a.research-group
{
    background: #000000;
}
</style>
<h1>Research Group</h1>

<p>Here are the students and alumni I currently work with or have worked with in the past.</p>

<p><em>Current Students</em></p>
<ul>
	<li>Wenjie Zhou (PhD), jointly supervised with Prof. Kannan Srinivasan</li>
	<li>Yousi Zheng (PhD), jointly supervised with Prof. Ness Shroff</li>
	<li>Gopi Krishna Tummala (PhD)</li>
	<li>(3 more joining in Fall 2014)</li>
</ul>


<p><em>Alumni</em></p>
<table border = "1">
<tr>
	<th>Name</th>
	<th>Institution</th>
	<th>Location</th>
</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~bansal">Tarun Bansal (PhD)</a></td>
		<td>Google</td>
		<td>Seattle, WA</td>
	</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~lido">Dong Li (PhD)</a></td>
		<td>LinkedIn</td>
		<td>Sunnyvale, CA</td>
	</tr>
	<tr>
		<td>Zhixue Lu (PhD)</td>
		<td>Two Sigma Investments</td>
		<td>New York, NY</td>
	</tr>
	<tr>
		<td>Shengbo Chen (PhD), PhD (Su '13)</td>
		<td>Qualcomm Research</td>
		<td>San Diego, CA</td>
	</tr>
	<tr>
		<td>Dongwook Lee, Postdoc (2004-2007)</td>
		<td>Samsung</td>
		<td>Korea</td>
	</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~fank"> Kai-Wei Fan</a>, PhD (Sp '08), MS (Au '07)</td>
		<td>Cisco</td>
		<td>San Jose, CA</td>
	</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~liusha">Sha Liu</a>, PhD (Sp '08), MS (Sp '08)</td>
		<td>Walmart Labs</td>
		<td>San Francisco, CA</td>
	</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~zhengz"> Zizhan Zheng</a>, PostDoc, PhD (Sp '10), MS (Sp '09)</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><a href="http://www.cse.ohio-state.edu/~rsliu"> Ren-Shiou Liu</a>, PhD (Sp '10), MS (Sp '09)</td>
		<td>National Cheng Kung University</td>
		<td></td>
	<tr>
		<td>Daeyoung Choi MS (Sp '10)</td>
		<td></td>
		<td>Korea</td>
	</tr>
</table>


<p><em>Other Graduate Students (OSU students I have co-authored in the past)</em></p>
<ul>
	<li>Ai Chen</li>
	<li>Gayathri Chandrasekaran</li>
	<li>Hongwei Zhang</li>
	<li>Vinayak Naik</li>
	<li>Thang Nam Le</li>
</ul>
