<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title of the document</title>
  <link rel="stylesheet" href="/stylesheets/all.css">
</head>

<body>
<div id="page">
  <%= partial "navigation" %>
  <div id="content">
    <h1>What's New</h1>
  </div>
</div>
<div id = "content">
	<ul>
		<li>Aug 2014: New $1 million <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1409336&HistoricalAwards=false">NSF/CNS medium grant</a> on renewable energy based cellular infrastructure (joint with Ness Shroff)  </li>
		<li>Jul 2014: <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom14-bbn.pdf">BBN</a> accepted in Mobicom 2014 </li>
		<li>Jan 2014: Gift from Toyota in support of research on full-duplex communication in vehicular networks </li>
		<li> Nov 2013: Five papers in INFOCOM 2014 on various topics </li>
		<li> Nov 2013: I will be serving as a co-chair (along with Ashutosh Sabharwal) for ACM Mobicom 2014 </li>
		<li>Aug 2013: New $1.125 million <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1302620&HistoricalAwards=false">NSF/CNS medium grant</a> on distributed channel access protocols based on physical layer advances (joint with Kannan Srinivasan and P. R. Kumar, TAMU) </li>
		<li>July 2013: <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/icnp13_rctc.pdf">RCTC</a> (Full Duplex Wireless) accepted to appear in IEEE ICNP 2013 </li>
		<li>June 2013: <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom13-symphony.pdf">Symphony</a> (coordinated decoding of collided packets in Enterprise WLANs) </li> <li>accepted to appear in ACM Mobicom 2013 </li>
		<li>May 2013: Best Student Paper Award for our <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom13-symphony.pdf">WiOpt 2013 paper</a> </li>
		<li>Mar 2013: Gift from Toyota in support of research on vehicular localization </li>
		<li>Mar 2013: Guest Co-Editor, Special Issue on ICDCN, Pervasive and Mobile Computing (PMC) </li>
		<li>Nov 2012: Two INFOCOM papers on <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom13-symphony.pdf">cognitive radios</a> and <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom13-symphony.pdf">MapReduce</a> </li>
		<li>Sep 2012: New NSF <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1254525&HistoricalAwards=false">EAGER grant</a> on network planning for delay tolerant services </li>
		<li>Jun 2012: <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom12.pdf">Paper</a> and <a href="http://web.cse.ohio-state.edu/~prasun/publications/conf/mobicom12-demo.pdf">demo</a> accepted in ACM MOBICOM 2012 on Vehicle Localization. </li>
		<li>Jun 2012: New $1.2 million <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1161490&HistoricalAwards=false">NSF/CNS medium grant</a> on femto-cells (joint with R. Srikant, UIUC and Kang Shin, UMich) (Click here for older news items) </li>
	</ul>
</div>
</body>


</html>
