@charset "utf-8";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  padding-left: 7em;
  font-family: 'Open Sans', sans-serif; font-weight: 100; 
  color: black;
  background-color: white;
  font-size: 100%;
  position: relative;
}

h1 {
    font-family: 'Open Sans', sans-serif; font-weight: 400; 
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Open Sans', sans-serif; font-weight: 100;
}

h2.header {
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
}

#page {
    margin-top: 8%;
    position: relative;
}


#content {
    width: 80%;
    clear: both;
    display: inline;
    float: left;
    margin-left: 15%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    position: relative;
}

#nav {
    display: block;
    float: left;
    left: 37px;
    position: relative;
    top: 1px;
}

#logo {
    color: #444;
    display: block;
    float: right;
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    font-size: 36pt;
    letter-spacing: 1px;
    padding-right:.2em;
    text-align: right;
}

a {
    color: #ff0051;
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    text-decoration: none;
}

#nav a {
    border-radius: 40px;
    display: block;
    float: right;
    color: #444;
    font-family: 'Open Sans', sans-serif; font-weight: 400; 
    font-size: 13pt;
    font-weight: normal;
    text-align: right;
    letter-spacing: 1px;
    line-height: 25pt;
    margin-top: 4px;
    padding: 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    top: 1px;
}

/* unvisited link */
a:link {
    color: #BA0711;

}

/* visited link */
a:visited {
    color: #660099;
}

/* mouse over link */
a:hover {
    color: #80070E;
}

#nav a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #EBEBEB;
}
.link-button
{
    height: 40px;
    border-radius: 40px;
    background: #FFFFFF;
}

.link-button:hover
{
    height: 40px;
    border-radius: 40px;
    background: #BA0711;
    color: #E5E5E5;
}

h1 {
    color: #888;
    font-family: msr300;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;
}

ul {
    margin: 0px;
}

li {
    padding: 1px;
    margin: 1px;
}


.columnsContainer, footer, header {
	position: relative; 
	margin: .5em; 
}

.leftColumn, .rightColumn, footer, header {
	padding: 1.25em;
}

.leftColumn {
	margin-bottom: 23.5em;
	width: 15em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 40.5em ) {
  .leftColumn { left: 0; top: 0; width:15.5em;}
  .rightColumn { position: absolute; top: 0; margin-top: 5em; margin-right: 7em;  margin-left: 15.0em; }   
}
