@charset "utf-8";

body {
  padding-left: 11em;
  font-family: 'Open Sans', sans-serif; font-weight: 100; 
  color: black;
  background-color: white;
  font-size: 100%;
  position: relative;
}

h1{
    font-family: 'Open Sans', sans-serif; font-weight: 400; 
    padding-bottom: 0px;
    margin-bottom: 0px
}

h2{
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
}

h2.header{
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
}
#page {
    margin-top: 8%;
    position: relative;
}
#header {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

#content {
    clear: both;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    position: relative;
}
#nav {
    display: block;
    float: left;
    left: -13px;
    position: relative;
    top: 1px;
}
#logo {
    color: #444;
    display: block;
    float: left;
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    font-size: 36pt;
    left: -2px;
    letter-spacing: 1px;
    line-height: 16pt;
    margin-bottom: 0px;
    margin-right: 40px;
    position: relative;
    text-decoration: none;
}
#logo:active {
    background: none repeat scroll 0 0 transparent;
}

#nav a {
    border-radius: 50px;
    color: #444;
    display: block;
    float: left;
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    font-size: 14pt;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 16pt;
    margin-top: 4px;
    padding: 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    top: 1px;
}

h1 {
    color: #888;
    font-family: msr300;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;
}

a {
    color: #ff0051;
    font-family: 'Open Sans', sans-serif; font-weight: 100; 
    text-decoration: none;
}

a.normal {
    color: #ff0051;
    
}

a.header {
    color: #FC9A24;
    
}

li {
    padding: 1px;
    margin: 1px;
}
